<p id="notice"><%= notice %></p>

<h1>Mantenimiento de Locales y Salas</h1>

<table border="1" width="70%">
  <thead>
    <tr>
      <th>C&oacute;digo</th>
      <th>Nombre</th>
      <th>Direcci&oacute;n</th>
      <th>Tel&eacute;fono</th>
      <th>Correo</th>
      <th>Descripci&oacute;</th>
      <th>Administrador</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.code %></td>
        <td><%= shop.name %></td>
        <td><%= shop.address %></td>
        <td><%= shop.telephone %></td>
        <td><%= shop.email %></td>
        <td><%= shop.description %></td>
        <td><%= shop.admin %></td>
        <td><%= link_to 'Ver', shop %> |&nbsp; <%= link_to 'Editar', edit_shop_path(shop) %> |&nbsp; <%= link_to 'Eliminar', shop, method: :delete, data: { confirm: 'Are you sure?' } %> |&nbsp; <%= link_to 'Ver Salas', edit_shop_path(shop) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Local', new_shop_path %> |&nbsp;
<%= link_to "Menú Principal", welcome_homepage_path  %>

