<%- model_class = Client -%>
<div class="page-header">
  <h1>Clientes</h1>
</div>
<%= link_to 'Nuevo Cliente', new_client_path, :class => 'btn btn-primary' %>
<br>
<br>
<table id='datatable' class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Nombre) %></th>
      <th><%= model_class.human_attribute_name(:dni) %></th>
      <th><%= model_class.human_attribute_name(:Correo) %></th>
      <th><%= model_class.human_attribute_name(:Birth) %></th>
      <th><%= model_class.human_attribute_name(:Teléfono) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.dni %></td>
        <td><%= client.email %></td>
        <td><%= client.birth %></td>
        <td><%= client.phone %></td>
        <td>
          <%= link_to t('.edit', :default => t("Editar")),
                      edit_client_path(client), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("Eliminar")),
                      client_path(client),
                      :method => :delete,
                      :data => { :confirm => '¿Estás seguro?' },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


