<p id="notice"><%= notice %></p>

<h1>Mantenimiento de Clientes</h1>

<table border="1" width="70%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>DNI</th>
      <th>Correo</th>
      <th>Fecha Nacimiento</th>
      <th>Tel&eacute;fono</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.dni %></td>
        <td><%= client.mail %></td>
        <td><%= client.birth %></td>
        <td><%= client.phone %></td>
        <td><%= link_to 'Ver', client %> |&nbsp; <%= link_to 'Editar', edit_client_path(client) %> |&nbsp; <%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_client_path %> |&nbsp;
<%= link_to "Menú Principal", welcome_homepage_path  %>
