<p id="notice"><%= notice %></p>

<h1>Mantenimiento de Canciones</h1>

<table border="1" width="70%">
  <thead>
    <tr>
      <th>C&oacute;digo</th>
      <th>Nombre</th>
      <th>Artista</th>
      <th>G&eacute;nero</th>
      <th>Año</th>
      <th>Estado</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.cod_song %></td>
        <td><%= song.nom_song %></td>
        <td><%= song.artista_song %></td>
        <td><%= song.genero_song %></td>
        <td><%= song.anio_song %></td>
        <td><%= song.estado %></td>
        <td><%= link_to 'Ver', song %> |&nbsp; <%= link_to 'Editar', edit_song_path(song) %> |&nbsp; <%= link_to 'Eliminar', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Canción', new_song_path %> |&nbsp;
<%= link_to "Menú Principal", welcome_homepage_path  %>

