<p id="notice"><%= notice %></p>

<p>
  <strong>Cod song:</strong>
  <%= @song.cod_song %>
</p>

<p>
  <strong>Nom song:</strong>
  <%= @song.nom_song %>
</p>

<p>
  <strong>Artista song:</strong>
  <%= @song.artista_song %>
</p>

<p>
  <strong>Genero song:</strong>
  <%= @song.genero_song %>
</p>

<p>
  <strong>Anio song:</strong>
  <%= @song.anio_song %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @song.estado %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
