<%- model_class = Reservation -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Reservaciones" %></h1>
</div>

<%= link_to t('.new', :default => "Agregar"), new_reservation_path, :class => 'btn btn-primary' %>
<br>
<br>

<table id="datatable" class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Fecha</th>
      <th>Cantidad Personas</th>
      <th>Comentario</th>
      <th>Local</th>
      <th>Sala</th>
      <th>Evento</th>
      <th>Acciones</th>
    </tr>

    
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.client_name %></td>
        <td><%= reservation.fecha_dma %></td>
        <td><%= reservation.can_persona %></td>
        <td><%= reservation.comentario %></td>
        <td><%= reservation.shop_name %></td>
        <td><%= reservation.room_name %></td>
        <td><%= reservation.event_name %></td>
        <td>

          <%= link_to 'Editar',
                      edit_reservation_path(reservation), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Eliminar',
                      reservation_path(reservation),
                      :method => :delete,
                      :data => { :confirm => '¿Estás seguro?' },
                      :class => 'btn btn-xs btn-danger' %>


        </td>
      </tr>
    <% end %>
  </tbody>
</table>

