<%- model_class = Reservation -%>
<div class="page-header">
  <h1>Reserva</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Cliente:</strong></dt>
  <dd><%= @reservation.client_name %></dd>
  <dt><strong>Local:</strong></dt>
  <dd><%= @reservation.shop_name %></dd>
  <dt><strong>Sala:</strong></dt>
  <dd><%= @reservation.room_name %></dd>
  <dt><strong>Fecha Reserva:</strong></dt>
  <dd><%= @reservation.fecha_dma %></dd>
  <dt><strong>Cantidad Personas:</strong></dt>
  <dd><%= @reservation.can_persona %></dd>
  <dt><strong>Comentario:</strong></dt>
  <dd><%= @reservation.comentario %></dd>
  <dt><strong>Evento:</strong></dt>
  <dd><%= @reservation.event_name %></dd>
</dl>

<%= link_to t('.back', :default => 'Reservas'),
              reservations_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => 'Editar'),
              edit_reservation_path(@reservation), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => 'Eliminar'),
              reservation_path(@reservation),
              :method => 'delete',
              :data => { :confirm => '¿Estás seguro?' },
              :class => 'btn btn-danger' %>
