<p id="notice"><%= notice %></p>

<p>
  <strong>Cod producto:</strong>
  <%= @invoice_item.cod_producto %>
</p>

<p>
  <strong>Precio unit:</strong>
  <%= @invoice_item.precio_unit %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @invoice_item.descuento %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @invoice_item.cantidad %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @invoice_item.costo %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @invoice_item.invoice %>
</p>

<%= link_to 'Edit', edit_invoice_item_path(@invoice_item) %> |
<%= link_to 'Back', invoice_items_path %>
