<p id="notice"><%= notice %></p>

<p>
  <strong>Cod room:</strong>
  <%= @room.cod_room %>
</p>

<p>
  <strong>Nom room:</strong>
  <%= @room.nom_room %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @room.estado %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @room.capacidad %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @room.shop %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
