<%- model_class = Category -%>
<div class="page-header">
  <h1>Categorías de Producto</h1>
</div>
<%= link_to 'Agregar Categoría', new_category_path, :class => 'btn btn-primary' %>
<br>
<br>
<table id='datatable' class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.id, category_path(category) %></td>
        <td><%= category.name %></td>
        <td><%=l category.created_at %></td>
        <td>
          <%= link_to 'Editar', edit_category_path(category), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("Eliminar")),
                      category_path(category),
                      :method => :delete,
                      :data => { :confirm => '¿Estás seguro?' },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


